{% extends 'filiados/base.html' %}
{% block head %}{% load staticfiles %}{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h3>CONTATO</h3>
            <p>SEMI CONTATO: Significa que é sistema de contagem de pontos com interrupção,
                não valendo nocaute, isto é semi contato. A F.K.S.C possui ainda filiados, associados,
                discípulos em outros estados como o TO, PA, SP, MG, DF, CE... em franca expansão.
                A F.K.S.C possui departamento de Artes Marciais, Lutas, e Defesa Pessoa buscando a
                unidade das Artes Marciais. Tal Departamento promove e administra Artes Marciais
                graduando e realizando eventos através de professores especializados em cada
                modalidade.</p>
            <p><strong>Ligar</strong> <br>TIM - (62)9 8183-8021<br>Claro - (62)9 9133-1667
                <br>VIVO - (62)9 8582-9140 </p>
            <p><strong>Email:</strong> <br>contato@fksc.com.br<br>deliosantos1@gmail.com</p>
            <p>
                <a href="https://www.facebook.com/FederacaoDeKarateSemiContato">Clique aqui para acessar nosso Facebook</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}