/*===NAVBAR===*/
.navbar-inverse{
    border-radius: 0;
}
/*===BODY===*/
body{
    background-color: rgb(233, 235, 238);
}
/*===MAIN CONTENT===*/
.thumbnail{
    background: rgb(236, 229, 211);
}
/*===FOOTER===*/
#footer{
    background-color: black;
    margin: 10px;
    height: 60px;
    clear: both;
    padding: 15px;
    text-align: center;
    color: aqua;
    font-size: 90%;
}
/*#myCarousel{
    margin-left: 270px;
    margin-right: 270px;
}*/