{% extends 'filiados/base.html' %}
{% block head %}{% load staticfiles %}{% endblock %}
{% block body %}

<!-- idade, faixa, sexo, modalidade, primeiro, acad_primeiro, segundo, acad_segundo, terceiro, acad_terceiro-->

<div class="container">
    <h3><strong>COMO LOCALIZAR O NOME DE UM ATLETA?</strong></h3>
    <dl>
        <dt>NO COMPUTADOR</dt>
            <dd>1. Pressione Ctrl + F</dd>
            <dd>2. Uma barra de pesquisa aparecerá no canto superior direto do seu navegador</dd>
            <dd>3. Digite o primeiro nome do Atleta</dd>
            <dd>4. Você será levado para os resultados correspondentes</dd>
            <dd>5. Pressione Enter para passar pelos resultados</dd>
        <dt>NO CELULAR</dt>
            <dd>1. Clique nos três pontinhos verticais no canto superior direto do seu navegador</dd>
            <dd>2. Uma barra de pesquisa aparecerá</dd>
            <dd>3. Digite o primeiro nome do Atleta</dd>
            <dd>4. Você será levado para os resultados correspondentes</dd>
            <dd>5. Clique na tecla "para baixo" para passar pelos resultados</dd>
    </dl>
    <h4><strong>Observação: O site está em construção, nos ajude nessa tarefa!<br>
        Caso encontre alguma informação errada entre em contato conosco que resolveremos o problema</strong></h4>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <h1>{{rank_campeonato.nome_campeonato}}</h1>
                <h4>{{rank_campeonato.est_cidade}}</h4><br>
                {% for categoria in rank_campeonato.categoria_set.all %}
                <span class="glyphicon glyphicon-user">
                    <button class="btn btn-primary">{{categoria.idade}}</button>
                </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span class="glyphicon glyphicon-education">
                    <button class="btn btn-warning">{{categoria.faixa}}</button>
                </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span class="glyphicon glyphicon-adjust">
                    <button class="btn btn-secondary">{{categoria.sexo}}</button>
                </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span class="glyphicon glyphicon-globe">
                    <button class="btn btn-info">{{categoria.modalidade}}</button>
                </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <table class="table">
                    <thead class="thead-inverse">
                    <tr>
                        <th>Colocação</th>
                        <th>Nome</th>
                        <th>Academia</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td>{{categoria.primeiro}}</td>
                        <td>{{categoria.acad_primeiro}}</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>{{categoria.segundo}}</td>
                        <td>{{categoria.acad_segundo}}</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>{{categoria.terceiro}}</td>
                        <td>{{categoria.acad_terceiro}}</td>
                    </tr>
                    </tbody>
                </table>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}