{% extends 'filiados/base.html' %}

{% block body %}
<div class="container">
    <h3><strong>COMO LOCALIZAR O NOME DE UMA ACADEMIA?</strong></h3>
    <dl>
        <dt>NO COMPUTADOR</dt>
            <dd>1. Pressione Ctrl + F</dd>
            <dd>2. Uma barra de pesquisa aparecerá no canto superior direto do seu navegador</dd>
            <dd>3. Digite o primeiro nome da Academia</dd>
            <dd>4. Você será levado para os resultados correspondentes</dd>
            <dd>5. Pressione Enter para passar pelos resultados</dd>
        <dt>NO CELULAR</dt>
            <dd>1. Clique nos três pontinhos verticais no canto superior direto do seu navegador</dd>
            <dd>2. Uma barra de pesquisa aparecerá</dd>
            <dd>3. Digite o primeiro nome da Academia</dd>
            <dd>4. Você será levado para os resultados correspondentes</dd>
            <dd>5. Clique na tecla "para baixo" para passar pelos resultados</dd>
    </dl>
    <h4><strong>Observação: O site está em construção, nos ajude nessa tarefa!<br>
        Caso encontre alguma informação errada entre em contato conosco que resolveremos o problema</strong></h4>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="panel panel-default"
             <div class="panel-body">
                 <h3>Academias Filiadas - 2017</h3>
                 <table class="table">
                     <thead>
                     <tr>
                         <th>Academia</th>
                         <th>Estado</th>
                         <th>Cidade</th>
                         <th>Professor</th>
                         <th>Registro</th>
                     </tr>
                     </thead>
                     <tbody>
                     {% for academia in todas_academias %}
                     <tr>
                         <td>{{ academia.nome_academia }}</td>
                         <td>{{ academia.estado }}</td>
                         <td>{{ academia.cidade }}</td>
                         <td>{{ academia.professor }}</td>
                         <td>{{ academia.num_reg }}</td>
                     </tr>
                     {% endfor %}
                     </tbody>
                 </table>
             </div>
    </div>
</div>
{% endblock %}